<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include google-analytics.html %}

  <title>{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %}</title>

  {% seo title=false %}

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  {% include latex.html %}
</head>
<body>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
